<h3>Agregar producto</h3>
<label for="code">Código</label>
<input type="tel" name="code" placeholder="Código" [(ngModel)]="product.code" />
<label for="desc">Descripción</label>
<input
  type="text"
  name="desc"
  placeholder="Descripción"
  [(ngModel)]="product.desc"
/>
<label for="price">Precio de venta</label>
<input
  type="tel"
  name="price"
  placeholder="Precio de venta"
  [(ngModel)]="product.price"
/>
<label for="points">Puntos del producto</label>
<input
  type="tel"
  min="0"
  name="points"
  placeholder="Puntos"
  [(ngModel)]="product.points"
/>
<label for="customer">Nombre del cliente</label>
<input
  type="text"
  name="customer"
  placeholder="Cliente"
  [(ngModel)]="customer.name"
/>
<div (click)="add()" class="btn">Agregar</div>
