table {
  width: 100%;
  margin-bottom: 10px;;
}
td {
  border-bottom: 1px solid black;
  padding: 5px;
}
thead {
  font-weight: bold;
}
tfoot td:first-child {
  text-align: right;
  font-weight: bold;
}
