<h3>Lista de productos{{(withCustomer?' de '+cService.currentCustomer.name:'')}}</h3>
<table>
  <thead>
    <td>Cliente</td>
    <td>Producto</td>
    <td>Precio</td>
    <td>Puntos</td>
  </thead>
  <tbody>
    <tr *ngFor="let product of pService.filter()">
      <td class="customer">{{product.customer.name}}</td>
      <td class="code">{{product.code}}<br>{{product.desc}}</td>
      <td class="price">{{product.price}}</td>
      <td class="price">{{product.points}}</td>
    </tr>
  </tbody>
  <tfoot>
    <td colspan="2">Total</td>
    <td>{{pService.total()}}</td>
    <td>{{pService.totalPoints()}}</td>
  </tfoot>
</table>
<div class="btn" (click)="clear()">Limpiar lista{{(withCustomer?' de: '+cService.currentCustomer.name:'')}}</div>
